h1 {
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 300%;
}

h2{
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 250%;
}

h3{
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    font-size: 250%;
}

.facts{
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: left;
    text-wrap: inherit;
    margin-right: 50%;
}


.description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background-color: rgba(0, 255, 68, 0.292);
}

.Sticky{
    display: flex;
    justify-content: center;
    align-items: center;
}

.house{
    background-image: url("data:image/webp;base64,UklGRkYNAABXRUJQVlA4IDoNAAAQVACdASokAeoAPp1InUwlpCYlJNNakMATiWdqFzBZhfDFDKNMAeiI1ted2tn2j84/93e//4/If5Xk3sZTQWLenlwHd2LEv+UknOlDu7d/CuMQyrNvwRFBIW4hB28WIZCgPedIny5kjhZ6YsZVdAOHSXJiGrlFNdlLeHtJyKboI7XnAKLoT5IkxyCmyN+O2CI5qqa5OrRwxA3wurwUIwkR8BQwN+IUTFucQmxoBOjflmB5fq0ahPLY2kWGy9MVojkG2ALOaJ8mzC1idAhNLAbPCYiVFjHvYnT+RY8uVVv3Voq5DqxhnFz97/gvSvJP0f8MP4n8nvIC3bEkWQWrFml68BAWalY0i5CNQlgBHniac9Tijr0R522+Oq0FC4CM4GOL71PTiKVGPWbL0V2ZojGOhELSoRimOy6FmSHfRbNMhf+QLl1ooFY7R3kCWdOW8twpga3flu3LfMV6M50Z7ykyvZBdgZSX0y+mUvLLF/ErIk89mRVVGWbPo7e0CkN2mks9S/0DV9qR9S6aT2cRhD8j2VyfHl3IGhqmuT3A/pRj3maaEdUXGQp7igcDJmWanoc0gZ3iAOx7E83NCRFJtUOgyyrheYDDnjXyCH4u7FA+ixzkFmPvUhRhFY4hFzWtrygXVeepolxQTRP45wzhmBNbFG2YpKj/o4uB+jadtFUG1Zf2KOHvs8lMW3h6wKG49RV0hUfIOJpfe4yIP4/gzpImQ9KBwIK0lp8HKx1aXNUKthH5DSiWIVpK+n7QbFe8cy5NG3O7J0/KJdoGg5GJF67s/jfIjEzplt+j3WckY9Al166z7mmhwMfzcVuRvwmM5QbSsimjMqPyahHclMDDmHscGi9bdJhzhTXW4f0fbnbQIhjma3OEfZ3s+cCnrqRTjZ7bEWUY/JnpggAA/ueYMWnTGH5Y6T5wVLMS05L/6BsjenFz4ZiBpGU1f+GKewRJPCokyg6GnU4qdilMB8BN6QhlMbZicRZb8IRKfqmV337zbk3B9LSmP5u1InkmWetuFjQrDiiIjKPVRARMKgcXrH4SYN5k0sH833JfSClsl+8dlQcxHX/jbDtnEAIA6dzyYJgqL/6oVKggBDjKcstyG3Lcr5spsP++heB2a7rb/+OsbjcJqo5tBXn4pyw3TlGW4uYz0hNIqSZyxkL5ceqgAemsevOd2hGxqw/TyZhPPNmtxNVbe3yFj5fY/dAGLR5oG4EaOBbDhNBldVzvNM56FI0jNprrG34fgv3UXe/+LHZVaH2jSmACD3gCLEsb90pjP1nc4ywLsx+mMpGssPeXzlNDJomf2H6a/BBpPeIH+hiHexis0BFZmGFeSXFQOOiBiNXFhuuXbZNtCaubT4b6H3a0iZm0e5dHyNDUSwBUEs+SZEliIv7UZumOseIfwvYUmY9xWG7lp9pZIYHgyslSeYpDUX2U7wk2E8+hUCOmIg/hkYminjNpOhug+JkL+hmZ+AQMuSX4UweRDv6tvfRjSGFzP3A3KRmutv70EOld4o0sXHptZ2/2V8a64jO0yMRe4PlvubpHpLx3n6jJS4US/Z2BCm7T5ysjoeSVnl9V+6xodqZXtaFmdMnZVjakYSegd9q+XtUU8GBesnGpuiGZv7iXgpmbkA4QFLgtTwZXr9HETW2K8FXvi12+T2OknpYF0yo/dFm+4ph7aODyWEN+PZg7k4xSd2ILIrog7NAtpln3apVcMSEGTh92AC7gmuulw6XPHPfASC+jD+qA4krwGBY3ZoajBxMGfqxE6hxxSWMHIUgRWK3GkyN8rxuNM0ARz5AaTJn3lEXHV5mqHLJMzS65AA4+slGIo7QZcoYslpEOf6PC0HVu3Dlv2MIKBtQvQpSAWgLpgnvj6AmK960qgyalCykjXDhPQI9JDoJBkkqJ0Y5ywwJqozYCo2FoMxnlrzsONlxL1zuR08z44xYCPMm5wUIj9QJevgUAudTFnpFHILohUPdJAfK0hCroFdIZHfUY8XLBnMPH9rsF7gqnyy90gq2jchW2XT23SK5ZLHaAglbKgfiXEDes1SvmsEdcP65XuHo8GybsNdigE6uN43UMDR9i5sVeBf3CAd+ER1mbFre9I7vocwKszD9K0yaSNWRzDwJ1TPM0bemM98n7bWVbI4xSm4VgZO2EwQD54RpP2B58rR/+2f7JYEoGC+V9GGVqcoEtJ23kkfTZNr1OTNDQsgSDgHlYm+s6hA7xBplcNpzML6GlH68gUOzYXaog1NsO3k0hJDy7Mo7EUBGoHpSqpD4d0Vz0BO8lxRZhTHPrGKt3yZ48aw8VpqUCtzBuXQB1wtRJuxbQD/kjFCvVe8N6WR0ygweF4SKS4Wu7c/lNUjWVHByuu4h//e/tA0oHDKOSwiQbdtJWgnTtDzTBetnMluM68VQ4kC+rNolIr2EJzOjTOI9eyumJOTdJXOctlxsQ6Ck9XnVDHse0tJ88x1GNSkX/YFh608Lx+YXx2p9NCzvrnjH8GYp/SdOFwUSPrE7bH7PYs+CQfZIcuff5cnXrPUElg74aCB4fqv0IAbTylUJX+pncgVaO7jYLkRiP1pQg240nCnfsztTCIJ/B0R1po/sIZ/UDOU/Fux3OI33zG3M+/VkMHNJYnXamX60si8WZ1BC7qI8krVPwgpr8x/sBwH73E2RIYH3MBUFHL58e2rkAjaRuinHE022mWLRIjXeOC95G+3xO053yPuz5bN5JtWzR5NQkryQ4GasVym/8k4C7p/LOGrAcYwvQy/l4UAzyMGtL7i9eAgo9glFQ1XrLmsn/tFjQHUCPo3NGyzxo9L3vpyzluSmj2j65BiMMhY1J77juIpQCWEDWgfTRADovfPsVD4X918iKzYY7aBOZg4OuYCrikmfBZNJaCA1k1yQIF72kGwKkWSThrpev5h6+t3O2/rDNrpP/wCbtIeyb2ool6J2t9x2uXRd78S0yBuAveRpbb7l9LEW8BlxL/ZmwFRZejGsKgDldEOoEEcte4++qtTNYBwglPEOo3rXGfNAIH2Ni0f1zGpEeqJ/njyMSMRCacqvhoXIkOGT5K1/zAU1GlLQZvosu8ezMlAAQwNbKTt58de7CIQ0z5JGqyFSloM0cdwluYmVzbWu0frB/MK4QB9YFgWTplPJJZToosbHbBxKG/krCkhJu0QtI4OgGy+gr2HIhvcpKuPeKIYRV6g29VDheaOVbTZw/WKB0hFlzMCnS349Eg9YGCSBoVMre5ksCaWeykM41tMclO5ICSPq7IKjBzfS/4y5y4AIoMZ9YRJr5nor02YZrnbf1ncLK5uqUpCb6zxY9M44QYK7pksL+Pw9uLmQjRf8TYqNUlhJtJkjjyYXBQL5ubsQ0xlIDMyvmN4DQrDjnM/GzJSbCw/XrI7eA9pM94kz0EoxVxdjakdyPHcJWkP1QvA/IyAHi06EZ+6oWhT5nosf8RlD9UtTOCy3dwsZX6zaWDQc1uccqxvVwZijWgpoQsWIo82lxHeUsnTZFh+K7+vjobys26fv9yQRy6Mc/n0BIvHxlig4BALg5vRT/pc0ka7LDAEcFkCrhdO+hNqYc3FecB+uyVinKWfOv9IWPYnhdo+eiOQf3JmMlkyrXoDGpWe7+LURFPHd8/fOrXBgly8BcbT+rYRc8KyM2xUWf5X0Q71teVwF0S82w2RAh+DWfIEb4MNswbgtWBI9RPaJUt6IMRHtFJOzcZyEkQHaFc6ysOnCBw+tLvZLT06/6oyGMbf9GabolMBD4OTDwXp9uWnWdP5J5h5bOE4U6pAEoXBFlX6WZf4gDGqAYOx8hZvUdVc63UnHNkBn12qgikhN2P/QeU5Y7L5zu+yBuSGkjbo6bUVxZ4QtxBBos9WXPHV9cBsMtgS/TauTltVuTY/QzjdZQvmPg7JP8Cqm0V7QOCd1KM0Ts3vpOrqoufNuGnfoITBI2XWZauhpM0Z2j0Yz9mncw4GBr+BsxE6XeXqk8uOiSmBFW8zvZiTGwT2Ay/yaDcnU55Nn//I1O973bNE5tz6+577usnjIAhd9Im9pBXXQ3riTpvJFkKFmGv96JwqOYsoQklc7HyiXIM3KVFonCLUf/ArlgC54YMrHTSnI7eLn8PZLJKQeZyG5ysRZGLhqN7Y+K6zsPIqPymKhm89sHIsRZOQ0xi+rTCZk+y70/nD700s6sfCsbTGZ9xkInBzU10ML08ucKVeY11n4St9nUYrFmWa2q2vVduICWSciwwwh4fLuvHL1fIxACFHEyqy/5thR9rG1twqTiX7ISVH37+E5CETLnj0FkJu23GGJQ+c0mylkuN9UxZQave87GXoKIJ5hp6nnxh5aUHTP328PQDA7HPkuweb+GvB3Tbq0GcDl2bwCzEjb1fnQy6nS2UaqUA0KEXWXFs/oB4K80YAJWSNBRCcT0mWUDc3wrqhfEPqDeqCblRwnxRiDthVyvAQVbFF/WZBkbhtSKxrsUQf4+TX1Qh6dRsHRITXzQt+flkhmlMT04WlNrhIX0bxc2JWU2OXWYbUT2lQ+jXCMflwgAAA==");
    background-repeat: no-repeat;
    background-size: cover;
}

.ally{
    background-image: url("https://th.bing.com/th/id/OIP.AVwweUwmPkMdkT7CL543dwHaEK?w=310&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3");
    background-repeat: no-repeat;
    background-size: cover;
}