h1 {
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 300%;
}

.description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
}

body {
    background-color: rgb(34, 215, 52);
}

.Sticky{
    display: flex;
    justify-content: center;
    align-items: center;
}